* {
    padding: 0;
    margin: 0;
  }
  .wrapper1{
    background-image: url(/1655539367263.jpeg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }

  .navbar{
    height: 70px;
    width: 100%;
    background-color: rgba(75, 183, 25, 0.319);
    border: 3px solid goldenrod;
  }
  .logo{
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
    
  }
  #logoname{
    color: rgb(247, 250, 251);
    background-color: black;
    border: 2px solid greenyellow;
    position: absolute;
    top: 20px;
    left: auto;
    text-decoration: none;
    border-radius: 5px;}

  .navbar ul{
    float: right;
    margin-right: 15px;
  }
  .navbar ul li{
    list-style-type: none;
    margin: 0 7px;
    display: inline-block;
    line-height: 80px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: rgb(45, 254, 45);
    background-color: rgb(160, 162, 31);
    border-radius: 5px;
    border: 2px solid goldenrod;
    font-weight: bolder
  }

    .center{
      margin-top: 25%;
      margin-left: 40%;
      color: rgb(251, 251, 247);
    }
    #lorsec{
      width: 200px;
      height: 200px;
      overflow: auto;
    }
    .search{
position: absolute;
float: right;

display: inline-block;

    }

  
  