#boxmodel{
display: inline-block;
    background-color: tan;
border: 5px solid gold;
padding: 50px 70px 50px 70px;
margin: 20px 25px 20px 25px;
}
.boxsizing{
    
    color:rgb(90, 45, 22);
    background-color: rgb(189, 237, 221);
    width: 350px;
    height: 300px;
    padding: 100px;
    box-sizing: border-box;
    font-size:40px;
    
}